body {
    background-color: #f0f0f0;
}

/*img {*/
/*    max-width: 400px;*/
/*}*/

.container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*max-width: 500px;*/
    /*margin: 0 auto;*/
}

.page {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    color: #1D3354;
}

.formContainer {
    display: flex;
    justify-content: space-between; /* To create space between the image and form */
    align-items: flex-start; /* To align items at the top */
    max-width: 100vw;
    margin: 0 10px 0 10px;
}

.form {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 45%;
}

.inputGroup {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button[type="submit"] {
    background-image: linear-gradient(to right, #9ED8DB, #467599); /* Gradient from left to right */
    color: white;
    opacity: 1;
    font-weight: bold;
    font-size: 100%;

    border: none;
    padding: 10px 20px;
    cursor: pointer;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 25px;

    &:hover {
        background-image: linear-gradient(to right, #467599, #9ED8DB);
        color: #1D3354;
    }
}

@media screen and (max-width: 949px) {
    .contactFormImageContainer {
        display: none;
    }

    .form {
        min-width: 95%;
        max-width: 100vw;
        margin: 0 0;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 95%;
        margin: 0 auto;
    }
}