.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendarContainer {
    width: 100vw;
    /*min-width: 75%;*/
    /*max-width: 95%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitButton {
    background-image: linear-gradient(to right, #9ED8DB, #467599); /* Gradient from left to right */
    color: white;
    opacity: 1;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 20px;
    margin-top: 10px;

    border: none;
    padding: 10px 40px;
    cursor: pointer;

    /*max-width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    /*margin: 0 auto;*/
    border-radius: 25px;

    &:hover {
        background-image: linear-gradient(to right, #467599, #9ED8DB);
        color: #1D3354;
    }
}

.eventOnDay {
    color: #467599;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    text-wrap: wrap;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;

}

.selected {
    color: white;
    font-weight: normal;
}

.blap {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.registrationContainer {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventProvinceContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    gap: 20px;

    p {
        margin: 0;
    }
}

.selectContainer {
    margin-bottom: 20px;

}

.selectContainer select {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8; /* Dropdown background color */
    cursor: pointer;
    outline: none; /* Remove outline */
}

.selectContainer select:focus {
    border-color: #467599; /* Focus border color */
}

.selectContainer select option {
    padding: 10px;
    &:hover {
        background-color: #1D3354;
        color: white;
    }
}